html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10 pixeles */
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 2;
}

.navegacion__titulo{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacion__span{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: green;
    /* borde de color negro a los lados */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

h2{
    font-size: 4rem;
}

a{
    text-decoration: none;
}

.header{
    background-color: #384f7c;
    color: white;
    padding: 0.5rem;
    justify-content: stretch;
    
}

.barra{
    display: flex;
    justify-content: space-between;
}
.navegacion{
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 2.3rem ;
    padding: 0;

}

.navegacion__enlace{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: opacity .3s ease-in-out;

}

.navegacion__enlace:hover{
    opacity: 0.6;
}